div{
    border-style: none;
    text-align: center;
    

}

button:active{
    background-color: rgb(16, 16, 16);
    transform: translate(0.3);
    color: rgb(123, 114, 114);

}







.container{
    /* margin-bottom: 50px; */
    /* margin-top: 90px; */
    /* background-color: rgb(117, 118, 152); */
 /* width:fit-content; */
  border-width: 1px; 
 border-style:solid; 
 /* padding: 100px; */
padding: 40px;
padding-top: 30px;
/* margin:20px ; */
box-shadow: 15px 15px 20px black;
 border-radius: 10px;

 background-color: #525252;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(146, 31, 31, 0.1);
     /* padding: 50px;
    width: 390px; */
} 

button{
    border-style: none; 
 background-color: rgb(193, 193, 193);
    color: rgb(34, 31, 31);
   margin: 10px;
        width: 90px;
        height: 80px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        font-size: 33px;
}
input{
    width:90%;
    background-color: #efeff0;
    color: #000000;
    font-size: 2em;
    padding: 12px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 20px;
/* font-size: xx-large;
    border-color: black;
    border-style: solid;
color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    
   height: 40px;
   /* border-radius: 7px; */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
outline: none; 

}
h1{
    text-align: center;
display:inline-block ;
    width: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7196c9;
    font-family: Arial, sans-serif;
}
.call{
    background-color: rgb(232, 22, 22);color: white;
}
button:hover {
    background-color: #5c5855;
}

.calll{
    background-color: #f9a825;
    color: #fff;
}

